<div class="container-fluid">
  <div *ngIf="responseMsg" class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
    {{responseMsg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-4">
    <form class="d-flex rounded" #searchForm="ngForm">
      <div class="input-group flex-nowrap my-4">
        <input type="text" class="form-control text-bg-light" placeholder="Search" [(ngModel)]="searchString"
          name="search" (keyup)="onSearch(searchString)" aria-label="Search" aria-describedby="addon-wrapping">          
        <button class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></button>
      </div>
    </form>
    <!-- <div class="actions">
      <button class="btn btn-outline-success" type="submit">New User</button>
    </div> -->
  </div>
  
  <div class="row my-4 justify-content-between">
    <div class="col-8">
      <div class="row gap-4 justify-content-evenly m-0 border border-black rounded p-4" style="height:100vh; overflow-y:scroll">
        <div class="card col-5 p-0" *ngFor="let user of filteredUsersList" style="height:270px;">
          <div class="card-header">
            <h4 class="text-start">{{user.userId}}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{user.userName}}</h5>
            <p class="card-text fw-bold">{{user.email}}</p>
            <p class="card-text">{{user.role}}</p>
          </div>
          <div class="card-footer text-end fs-2">
            <button type="button" class="btn btn-outline-primary mx-2" (click)="onEdit(user)">
              <i class="bi bi-pen" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-danger mx-2" (click)="onDelete(user.userId)">
              <i class="bi bi-trash-fill" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-4">
      <form #userForm="ngForm" class="border border-black rounded m-0 px-4" (ngSubmit)="onSubmit()">
        <div class="my-4">
          <label for="username" class="form-label">Username:</label>
          <input id="username" name="username" class="form-control text-bg-light" [(ngModel)]="userObj.userName"
            name="username" required minlength="3" #usernameField="ngModel" />
          <div class="text-danger py-2" *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)">
            <div *ngIf="usernameField.errors?.['required']">Username is required.</div>
            <div *ngIf="usernameField.errors?.['minlength']">Username must be at least 3 characters long.</div>
          </div>
        </div>
  
        <div class="my-4">
          <label for="email" class="form-label">Email:</label>
          <input id="email" name="email" class="form-control text-bg-light" [(ngModel)]="userObj.email" name="email"
            required email #emailField="ngModel" />
          <div class="text-danger py-2" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
            <div *ngIf="emailField.errors?.['required']">Email is required.</div>
            <div *ngIf="emailField.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
  
        <div class="my-4">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" name="password" class="form-control text-bg-light"
            [(ngModel)]="userObj.password" name="password" required #passwordField="ngModel" />
          <div class="text-danger py-2" *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
            <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
          </div>
        </div>
  
        <div class="d-flex gap-2 my-4">
          <label>Role:</label>
          <div class="form-check">
            <input type="radio" id="roleStaff" name="role" class="form-check-input" value="staff"
              [(ngModel)]="userObj.role" required checked />
            <label class="form-check-label" for="roleStaff">Staff</label>
          </div>
          <div>
            <input type="radio" id="roleAdmin" name="role" class="form-check-input" value="admin"
              [(ngModel)]="userObj.role" required />
            <label class="form-check-label" for="roleAdmin">Admin</label>
          </div>
        </div>
  
        <div class="d-flex gap-4 my-4 justify-content-end">
          <button class="btn btn-outline-success" (click)="userForm.reset()" type="submit" [disabled]="userForm.invalid">Submit</button>
          <!-- <button class="btn btn-outline-danger" type="button" (click)="onCancel()">Cancel</button> -->
        </div>
      </form>
  
    </div>
  </div>
</div>
